snippet header "header element"
<header>${1}</header>
endsnippet

snippet nav "nav element"
<nav>${1}</nav>
endsnippet

snippet footer "footer element"
<footer>${1}</footer>
endsnippet

snippet figure "figure element"
<figure>
	<img src="${1}"/>
</figure>
<figcaption>
	${2}
</figcaption>
endsnippet

snippet section "section element"
<section id="${1}">${2}</section>
endsnippet

snippet article "article element"
<article id="${1}">${2}</article>
endsnippet
