snippet cl "class"
class $1:Classname {
	constructor($2:args) {
	}
}
endsnippet

snippet classextends "class extends"
class $1:Classname extends $2:Parent {
	constructor($2:args) {
	}
}
endsnippet

snippet exportclass "export default class"
export default class $1:Classname {
	constructor($2:arguments) {
	}
}
endsnippet

snippet ar "arrow function"
($1:x) => {
}
endsnippet
